.card {
    margin-top: 90px;
    margin-left: 20px;
}

#phone,#address,#name,#location {
    width: 500px;
    border-radius: 30px !important;
}

.ant-select-selector {
    border-radius: 30px !important;
    width: 500px !important;
}

.ant-form-item-explain-error {
    margin-top: 4px;
    font-size: 10px;
}

.ant-radio-wrapper span {
    font-size: 12px;
}

.ant-form-item-control-input {
    margin-top: -28;
}

.ant-select-selection-item {
    font-size: 14px;
}

.ant-cascader-menu-item-content {
    font-size: 14px;
}

.ant-select-selection-placeholder {
    font-size: 12px;
}

.ant-picker-time-panel-cell-inner {
    font-size: 12px !important;
    line-height: 1.4;
}