.card {
    margin-top: 90px;
    margin-left: 20px;
}

#phone,#address,#fullName{
    width: 500px;
    border-radius: 30px !important;
}

.location-custom .ant-select-selector {
    border-radius: 30px !important;
    width: 500px !important;
}

.ant-select-selector {
    border-radius: 30px !important;
    width: 210px !important;
}

.ant-form-item-explain-error {
    margin-top: 4px;
    font-size: 10px;
}

.ant-radio-wrapper span {
    font-size: 12px;
}

.ant-form-item-control-input {
    margin-top: -28;
}

.ant-select-selection-item {
    font-size: 14px;
}

.ant-cascader-menu-item-content {
    font-size: 14px;
}

.ant-select-selection-placeholder {
    font-size: 12px;
}

.ant-picker-time-panel-cell-inner {
    font-size: 12px !important;
    line-height: 1.4;
}

.table-custom {
    width: 404px;
    margin-left: -10px !important;
}

.table-custom th {
    border: 1px solid #ccc !important;
}

.table-custom td {
    border: 1px solid #ccc !important;
    border-top: none !important;
}

.ant-cascader-menu-item-content {
    font-size: 12px;
}

.ant-cascader-menu-item-keyword {
    font-size: 12px;
    font-weight: bold; 
}

.ant-select-selection-search-input {
    font-size: 12px !important;
}

.ant-picker-cell-inner {
    font-size: 10px !important;
}