.ant-table-container {
    margin-top: 8px;
    margin-left: 10px;
}

.ant-table-content {
    font-size: 130px !important;
}

.ant-table-tbody span{
    font-size: 12px !important;
}

.ant-table-content tr th {
    font-size: 16px;
    font-weight: 400 !important;
}

.ant-table-column-title {
    font-size: 14px;
    font-weight: 400 !important;
    margin-right: -20px;
}

.ant-table-content tr th:first-of-type {
    font-size: 14px ;

}

.ant-table-pagination {
    font-size: 60px;
    color: white;
}

.anticon-caret-up {
    font-size: 14px !important;
    margin-bottom: 2px;
}

.anticon-caret-down {
    font-size: 14px !important;
}

.anticon-filter {
    font-size: 14px !important;
    padding: 10px;
}

.ant-dropdown-menu-title-content span {
    font-size: 10px;
}

.ant-pagination-center {
    font-size: 26px;
}

.ant-pagination-prev span {
    font-size: 14px;
}

.ant-pagination-next span {
    font-size: 14px;
}

.ant-pagination-item {
    margin-top: 2px;
}

.ant-pagination-item a {
    margin-top: 8px;
}

.ant-table-cell {
    padding: 10px 16px !important;
    font-size: 14px !important;
}

.ant-table-tbody .ant-table-cell {
    font-size: 18px !important;
}

.ant-pagination-options {
    display: none !important;
}

.ant-pagination-item-container {
    margin-top: 12px !important;
}

.ant-pagination-item-ellipsis{
    font-weight: 400 !important;
    margin-top: 4px !important;
    color: #5b9bc3 !important;
    font-size: 6px !important;
}

@media (max-width: 992px) {
    .ant-table-container {
        margin-left: -30px;
    }

}

@media (max-width: 687px) {
    .ant-table-container {
        margin-left: -16px;
    }
}