.permission-page-wrapper
  .permission-table
  .ant-table-thead
  > tr
  > th.feature-column-header {
  font-weight: 600 !important;
  font-size: 16px !important;
}

.permission-page-wrapper
  .permission-table
  .ant-table-thead
  > tr
  > th.role-column-header {
  font-weight: 600 !important;
  font-size: 14px !important;
}

.ant-table-tbody td b {
  font-weight: 600;
  font-size: 14px;
}

.button-update span {
  font-size: 14px !important;
}

.liLabelDelete {
  border-bottom: 1px solid #ccc; /* Thêm border-bottom */
  padding-bottom: 4px;
}

.liLabelDelete .spanTitleDelete {
  font-size: 4px;
}

.liLabelDelete .spanDescriptionDelete {
  font-size: 8px;
}

.feature-header {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.feature-header:hover {
  background-color: rgba(3, 3, 3, 0.03);
}

.feature-toggle-icon {
  margin-right: 8px;
  transition: transform 0.2s;
}

.feature-action {
  padding-left: 20px;
}
